body {
    background: #0D0D0D;
    font-family: Arial;
    margin: 0;
}

/* Title Image CSS:
   This image is set to expand to 100% of the screen until it reaches 719px and has a tool tip linked to it.
*/
#title_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    max-width: 719px;
    border: 2px solid;
}
#tooltip{
    position: absolute;
    background-color: #ffdb8c;
    border: 4px solid #646464;
    width: 370px;
    padding: 2px;
    float:left;
}

/* The Menu Bar:
   Like the title image it has been set to adjust to the screen size.
*/
#nav-ul {
    text-align: center;
    padding: 10px 0px;
}
.nav-li {
    cursor: pointer; /* changing pointer to demonstrate functionality. */
    background: #262626;
    display: inline-block;
    width: 19%;
    max-width: 140px;
    padding: 10px 0px;
    margin: 0px;
    font-size: large;
}
/* display:none is used to hide the dropdown ul and absolute positioning is used so that the menu is unaffected and does
   not affect any other elements.
*/
#dropdown-menu{
    position: absolute;
    margin: 10px 0px;
    padding: 0px;
    text-align: center;
    width:100%;
    display: none;
}
#dropdown-menu li{
    cursor: pointer; /* changing pointer to demonstrate functionality. */
    background: #262626;
    display: block;
    padding: 10px 0px;
    margin: 5px 0px;
    text-align: center;
    width: 100%;
}
.nav-li label {
    cursor: pointer; /* changing pointer to demonstrate functionality. */
    color: #BFBFBF;
}
/* This is set the different background color set to trigger when a menu item is selected or hovered upon. */
.nav-li.selected, .nav-li:hover, #dropdown-menu li:hover{
    background: #4D4D4D;
}

/* CSS Relative to all Sections:
   The content and wrapper set up basic CSS for a container to each sections content.
*/
.content {
    padding: 0px 10px;
    width: 95%;
    max-width: 717px;
    margin: auto;
}
.wrapper {
    border-radius: 5px;
    padding: 1px 10px;
    background-color: white;
    min-height: 633px;
}
h1 {
     font-size: 24px;
     text-align-last: center;
     text-decoration: underline;
}
.trailer-button, #start-game-button{
    cursor: pointer; /* changing pointer to demonstrate functionality. */
    margin: 50px 0 0 0;
    width:32.5%;
    height: 50px;
    font-size: 18px;
}

/* The Home Section:
   This is CSS specific to the home section.
*/
iframe{
    width:100%; /* Scales with container */
    min-height:400px;
}
#register-content {
    padding: 0px 10px;
    max-width: 380px;
    margin: auto;
}

/* The Seasons Section:
   This is CSS specific to the seasons section. Each container has a slightly different background colour.
*/
.season-container{
    cursor: pointer; /* changing pointer to demonstrate functionality. */
    margin-bottom: 5px;
    margin-top: 15px;
    border: solid #545454;
    width:97%;
    background-color: #545454;
}
.episode-container{
    padding: 0px;
    background-color: #c4c4c4;
    padding: 0px 5px 0px 5px;
    border: solid #c4c4c4;
    margin-bottom: 5px;
}
.episode-contents-container{
    padding: 5px;
    background-color: white;
    min-height: 150px;
    border: solid white;
    margin-bottom: 5px;
}
.episode-img{
    margin-bottom: 20px;
    border: solid #bdbdbd;
    float:right; /* setting image to the right of the text. */
}

/* The Game Section:
   This is CSS specific to the seasons game section. Note: most of the game graphics are done in the javascript file.
*/
#game-screen {
    background-color: #77ff77;
    border: solid 5px #004b00; /* Setting several boarded properties at once*/
    width: 97.5%;
    margin: 4px 4px 4px;
}
#start-game-button{
    width: 97.5%;
    margin: 4px 4px 20px;
}

/* The Members Section:
   This is CSS specific to the Members section.
*/
.members-container{
    margin: auto;
    width: 100%;
}
/* Select CSS. */
select{
    cursor: pointer; /* changing pointer to demonstrate functionality. */
    background-color: #ffdb8c;
    border: 4px solid #646464;
    font-size: 18px;
}
/* Table CSS. */
table {
    width: 100%;
    margin: auto;
}
th {
    background-color: #4CAF50;
    object-fit: cover;
    border: 2px solid #d6d6d6;
}
tr:nth-child(odd) {
    background-color: #b8b8b8;
}
tr.highlight {
    background-color: #ffdb8c;
}
td {
    border: 1px solid #d6d6d6;
}
/* List CSS. */
#list-container{
    padding: 0px;
    margin: 0px;
}
#delete-button-list{
    padding-left: 0px;
    margin:auto;
}
.delete-button{
    cursor: pointer; /* changing pointer to demonstrate functionality. */
    list-style: none;
    display: inline-block;
    background-color: rgb(64, 0, 4);
    width: 98%;
    margin: 2px auto;
    padding: 5px;
    color: white;
    border-radius: 6px;
    text-align: center;
}
.delete-button:hover{
    background-color: #9d0000;
    font-weight: bold;
}

/* The Registration Section:
   This is CSS specific to the Registration section.
*/
form input {
    font-size: 15px;
    width: 100%;
    padding: 5px 0px;
    margin: 5px 0px;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0px;
    margin: 5px 0;
    cursor: pointer; /* changing pointer to demonstrate functionality. */
}
input[type=checkbox] {
    width: 12px;
    margin: 0px;
}
#registration-wrapper{
    min-height: 0px; /* registrations wrapper is smaller. */
}
#register-content {
    max-width: 380px; /* max width of form is set */
}


